from enum import Enum


class MessageType(bytes, Enum):
    MSG_TYPE_INIT = b'\x00'
    MSG_TYPE_CONTROL = b'\x01'
    MSG_TYPE_DATA = b'\x02'
    MSG_TYPE_END = b'\x03'

{% for enum_type in types %}
class {{ enum_type.class_name }}(str, Enum):
{% for e in enum_type.enum_values %}    {% if e[0] in ["0","1","2","3","4","5","6","7","8","9"] %}_{% endif -%}
{%- if folder == 'ship' -%}
{{ e | upper | replace("/","_") | replace("^","_")| replace(".","_") }} = '{{ e }}'
{%- else -%}
{{ e | replace("/","_") | replace("^","_")| replace(".","_") }} = '{{ e }}'
{%- endif %}
{% endfor %}
{% endfor %}
