from enum import Enum


class MessageType(bytes, Enum):
    MSG_TYPE_INIT = b'\x00'
    MSG_TYPE_CONTROL = b'\x01'
    MSG_TYPE_DATA = b'\x02'
    MSG_TYPE_END = b'\x03'

{% for type_name, prop in enum_types.items() %}
class {{ type_name }}(str, Enum):
{% for e in prop.enums %}    {{ e|upper }} = '{{ e }}'
{% endfor %}
{% endfor %}
