from ship.base_type import *
from ship.enums import *
import json

MSG_TYPE_INIT = b'\x00\x00'
MSG_TYPE_CONTROL = b'\x01'
MSG_TYPE_DATA = b'\x02'
MSG_TYPE_END = b'\x03'


class ShipMessageType:
    def __init__(
        self
    ):
        self.root_tag = ""
        self.msg_type = b'\x00'

    def get_data(self):
        raise NotImplementedError("get_data has to be implemented")

{% for type_name, prop in msg_types.items() %}
class {{ type_name }}(ShipMessageType):
    def __init__(
        self,
{% for m in prop.members %}        {{ m.snake_case_name }}{% if m.data_type %}: {% if m.is_array %}list[{% endif %}{{ m.data_type }}{% if m.is_array %}]{% endif %}{% endif %}{% if m.is_optional %}=None{% endif %},
{% endfor %}    ):
        super().__init__()
{% for m in prop.members %}        self.{{ m.snake_case_name }} = {{ m.snake_case_name }}
{% endfor %}
    def get_data(self):
        msg_data = {% if not prop.no_attrib_name %}[]
        {% else%}self.{{ prop.members[0].name }}{% endif %}
        {% if not prop.no_attrib_name %}{% for m in prop.members %}if self.{{ m.snake_case_name }}:
            msg_data.append({"{{ m.name }}": self.{{ m.snake_case_name }}})
        {% endfor %}
        {% endif %}
        return msg_data

{% endfor %}